@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Hind:wght@100;200;300;400;500;600;700&display=swap);
* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 595px;
  margin: 0 auto;
  display: flex;
}
.left {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  font-feature-settings: "clig" off, "liga" off;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 115.385% */
  letter-spacing: 0.2px;
  padding: 30px 20px 40px 15px;
}
.left img {
  width: 60px;
  height: 60px;
  border-radius: 49px;
  background: #fff;
  background-blend-mode: color;
  filter: grayscale(100%);
}
.left h1 {
  font-size: 16.8px;
  margin-top: 8px;
  margin-bottom: 15px;
  line-height: 22px;
}
ul {
  list-style: none;
  gap: 12px;
  display: flex;
  flex-direction: column;
  font-family: "Hind", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: 0.8px;
  opacity: 0.6;
}
.left h2,
.left h3 {
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 10px;
}
ul li a {
  font-display: none;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-decoration: none;
}

.icons {
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
  margin-top: 8px;
}
.left ul li img {
  width: 18px;
  height: 18px;
}
.left ul li img:hover {
  transition: all 0.5s;
  transform: scale(110%);
}

.right {
  width: 120%;
  margin: 0 auto;
  padding: 0 20px 40px;
  color: var(--colors-black, #212121);
  font-feature-settings: "clig" off, "liga" off;
}
.right h4 {
  font-family: IBM Plex Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 115.385% */
  letter-spacing: 0.2px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.right p {
  font-family: Hind;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 172.727% */
  letter-spacing: -0.2px;
  opacity: 0.6;
  text-align: justify;
}

.education {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.learn span,
.education span {
  color: var(--colors-black, #212121);
  font-feature-settings: "clig" off, "liga" off;
  font-family: IBM Plex Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 163.636% */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}
.right a {
  color: var(--colors-black, #212121);
}
.right a:hover {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 550px) {
  .container {
    flex-wrap: wrap;
  }
  .left {
    width: 100%;
  }
}
.bold {
  font-weight: 600;
}
